# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build results
[Bb]uild
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Python
*.pyc
__pycache__

# Compilation Results
*.axf
*.bin

# ninja build
.ninja_deps
.ninja_log
build.ninja
/.metadata/
*.plist
.cproject
.project
out
